./data/*
!data/.gitkeep

lightning_logs/*
!lightning_logs/.gitkeep

reports/*
!reports/.gitkeep


cuda
checkpoints
cc_tmcn
old
*.code-workspace
*.hdf5
*.json
__pycache__
.pytest_cache/
dist/
*.tfrecords
*.csv
*.png
*.gif
old2
lightning_logs_results
csv
fig
frames
plots
cc_tmcn_main

*.npy
.venv/*
.venv
data_2
.env
.env.*
!.env.example
*.log
nohup.out

not_used
example/lightning_logs

.DS_Store
