h5py
lightning
matplotlib
omegaconf
pandas
Pillow
pot
pytorch_metric_learning
scikit_learn
scipy
seaborn
tbparse
torch
tqdm
setuptools
protobuf 
tensorflow
numpy
geomloss
torchjd[full]==0.8.0
imageio
scikit-image
statsmodels
